header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1 {
    background-color: rgb(71, 70, 70);
    color: white;
    padding: 5px;
    font-size: 20px;
    margin-bottom: 10px;
}

.imgContainer img {
    width: 100px;
    border: 2px dashed black;
}

.imgContainer {
    padding: 10px 5px;
    display: flex;
    background-color: gray;
    gap: 10px;
}

